<% i18n_scope = [:views, :orders, :new] %>

<% title t(:title, scope: i18n_scope) %>
<h1><%= t(:title, scope: i18n_scope) %></h1>

<% content_for :sidebar do %>
  <div class='form-group'>
    <%= label_tag t(:max_price, scope: i18n_scope) %><br>
    <%= number_field('max', 'price', min: 0, class: 'form-control') %>
  </div>
<% end %>

<%= render 'form' %>
