@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.ui.all";

#orders-table td{
  &:not(.td-button) {
    @include text-overflow;
  }
}

.draggable {
  width: 100px;
  height: 100px;
  // padding: 0.5em;
  // float: left;
  // margin: 10px 10px 10px 0;
}

.droppable {
  width: 100px;
  height: 100px;
  // padding: 0.5em;
  // float: left;
  // margin: 10px;
  background: #F0F0F0;
}
